.App {
  padding: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.children-container {
  padding-right: 50px;
  padding-left: 50px;
}

.reply {
  background-color: #2c974b;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.show {
  margin-top: 10px;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.hide {
  margin-top: 10px;
  background-color: #405cf5;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
